__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints

.venv/

data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

results/figures/*
results/tables/*
results/logs/*
!results/figures/.gitkeep
!results/tables/.gitkeep
!results/logs/.gitkeep

.env
*.env

.DS_Store
.vscode/
.idea/